* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter;
    background-color: #282D35;
}

nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}

nav>h3 {
    margin-right: auto;
    color: #61DAFB;
    font-size: 22px;
    font-weight: 700;
}

nav>h4 {
    margin: 0;
    color: #DEEBF8;
    font-weight: 600;
    font-size: 16px;
}

nav>img {
    height: 30px;
    margin-right: 7px;
}

.Main {
    padding: 57px 27px;
    background-image: url("assets/react_icon_large.png");
    background-repeat: no-repeat;
    background-position: right 75%;
}

.Main>h1 {
    font-weight: 700;
    font-size: 39px;
    margin: 0;
    line-height: 47px;
    letter-spacing: -0.05em;
}

.Main>ul {
    /* margin-left: 74px; */
    margin-top: 46px;
    max-width: 400px;
}

.Main>ul>li {
    padding-block: 10px;
}

.Main>ul>li::marker {
    color: #61DAFB;
    font-size: 1.4rem;
}

.Main>h1,
.Main>ul {
    color: white;
}